<p-table [value]="meteoList">

    <!-- <ng-template pTemplate="header">
        <tr>
            <th>Name</th>
            <th>Temperature</th>
            <th>Humidity</th>
            <th>Wind</th>
            <th>Pressure</th>
            <th>Rainfall</th>
        </tr>
    </ng-template> -->
    <ng-template pTemplate="body" let-meteo>
        <tr>
            <td>{{ meteo.name }}</td>
            <td>Lon: {{ meteo.longitude }}</td>
            <td>Lat: {{ meteo.latitude }}</td>
        
            <td *ngFor="let md of meteo.meteoData" >{{ md.name }} {{ md.value }} {{ md.unit }}</td>

        </tr>
    </ng-template>
</p-table>