<p-toolbar
    [style]="{ 'border-radius': '3rem', 'background-image': 'linear-gradient(to right, var(--primary-color), var(--bluegray-700))' }">
    <ng-template pTemplate="start">
        <i class="pi pi-globe" style="font-size: 40px; color: var(--primary-color-text)"></i>
        <span class="meteoTitle ">MeteoApp</span>
    </ng-template>

    <ng-template pTemplate="center">
        <!-- to do: przenieść gdzieś? -->
        <p-button [rounded]="true" label="Add meteo station" icon="pi pi-plus"></p-button>
    </ng-template>

    <ng-template pTemplate="end">
        <div style="margin-right: 40px">
            <p-button [rounded]="true" label="Login" icon="pi pi-user" size="large"></p-button>
        </div>
    </ng-template>
</p-toolbar>

<div class="content-margins">
    <p-splitter [style]="{ height: '600px' }">
        <ng-template pTemplate>
            <div style="height: 100%; width: 100%">
                <app-map></app-map>
            </div>
        </ng-template>
        <ng-template pTemplate>
            <div class="col flex align-items-center justify-content-center">Table to do</div>
        </ng-template>
    </p-splitter>
</div>