
.meteoTitle {
    font-size: 40px;
    margin-left: 10px;
    color: var(--primary-color-text);
}

:host ::ng-deep .p-button{
    width: 200px;
  }

.horizontal-spacer {
  height: 20px;
}

.content-margins{
  margin: 40px;
}

.dialog-container {
    padding: 20px;
    background-color: var(--primary-color);
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.form-container {
    max-width: 400px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    font-weight: bold;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

.form-actions {
    display: flex;
    justify-content: space-between;
}
.p-button {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  border-color: black;
}
